Package: fortunes-flashrider
Version: 1.00-1nano
Architecture: all
Maintainer: Christopher Roy Bratusek <nano@tuxfamily.org>
Installed-Size: 348
Depends: fortune-mod
Replaces: fortunes-prolinux
Section: games
Priority: extra
Description: Fortunes::Flashrider!
  Folgende Pakete sind enthalten:
   → ProLinux (450 Kekse)
   → OpenPresse (65 Kekse)
   → LinuxForum (205 Kekse)
   → GermanBash (131 Kekse)
